name: Test and deploy docker image

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  bandit-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Bandit
        run: |
          python -m pip install --upgrade pip
          pip install bandit

      - name: Run Bandit security scan
        run: |
          bandit -r ./project -o bandit-report.json -f json || true

      - name: Upload Bandit report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: bandit-report
          path: bandit-report.json

  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          python -m pytest project/tests --maxfail=1 --disable-warnings -q

  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Cache OWASP DB
        uses: actions/cache@v4
        with:
          path: /tmp/owasp
          key: dependency-check
      - name: Run OWASP Dependency-Check
        run: mvn verify dependency-check:check -DnvdApiKey=${{ secrets.NVD_API_KEY }}
      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: owasp-dependency-check-report
          path: target/dependency-check-report.*

  docker-build:
    needs: [bandit-scan, dependency-check, unit-testing]
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image_tag: ${{ steps.set-tag.outputs.tag }} # Przekazujemy tag do następnego joba
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Docker image
        id: set-tag
        run: |
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          TAG=$([ "${GITHUB_REF##*/}" = "main" ] && echo "latest" || echo "beta")
          
          IMAGE_URL="ghcr.io/${{ github.repository_owner }}/$REPO_LOWER:$TAG"
          docker build -t $IMAGE_URL .
          docker push $IMAGE_URL
          echo "tag=$TAG" >> $GITHUB_OUTPUT
  dast-scan:
    needs: [docker-build]
    runs-on: ubuntu-latest
    permissions:
        issues: write
        security-events: write
    steps:
        - name: Log in to GHCR
          run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
  
        - name: Pull and Run Container
          run: |
            REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
            # Pobieramy obraz zbudowany w poprzednim jobie
            docker pull ghcr.io/${{ github.repository_owner }}/$REPO_LOWER:${{ needs.docker-build.outputs.image_tag }}
            docker run -d -p 5000:5000 --name web-app ghcr.io/${{ github.repository_owner }}/$REPO_LOWER:${{ needs.docker-build.outputs.image_tag }}
            sleep 10 # Czekamy aż aplikacja wstanie
  
        - name: Run DAST Scan (OWASP ZAP)
          uses: zaproxy/action-baseline@v0.14.0
          with:
            target: 'http://localhost:5000'
            token: ${{ secrets.GITHUB_TOKEN }}
            fail_action: false
            artifact_name: 'zap-report'
  
        - name: Upload ZAP Report
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: zap-scan-report
            path: report_html.html
